* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  border-radius: 20px;
}
.form input {
  width: 6cm;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0px 10px;
}
i {
  font-size: 25px;
  transform: translate(-10%, 10%);
}
